[project]
	description = Access inherited by all other projects.
	state = active
[capability]
	administrateServer = group Administrators
	administrateServer = group Administrators
	administrateServer = group Administrators
	administrateServer = group Administrators
	startReplication = group Administrators
	priority = batch group Non-Interactive Users
	priority = batch group Non-Interactive Users
	priority = batch group Non-Interactive Users
	streamEvents = group Non-Interactive Users
	streamEvents = group Non-Interactive Users
	streamEvents = group Non-Interactive Users
[access "refs/*"]
	read = group Administrators
	read = group Administrators
	read = group Administrators
	read = group Administrators
	read = group Anonymous Users
	read = group Anonymous Users
	read = group Anonymous Users
	read = group Anonymous Users
	forgeAuthor = group Registered Users
	submit = group Administrators
	abandon = group Administrators
	rebase = group Administrators
	pushMerge = group Administrators
[access "refs/for/refs/*"]
	push = group Registered Users
	push = group Registered Users
	push = group Registered Users
	push = group Registered Users
	pushMerge = group Registered Users
	pushMerge = group Registered Users
	pushMerge = group Registered Users
[access "refs/heads/*"]
	label-Code-Review = -2..+2 group Administrators
	label-Code-Review = -2..+2 group Administrators
	label-Code-Review = -2..+2 group Administrators
	label-Code-Review = -2..+2 group Administrators
	label-Code-Review = -2..+2 group Project Owners
	label-Code-Review = -2..+2 group Project Owners
	label-Code-Review = -2..+2 group Project Owners
	label-Code-Review = -1..+1 group Registered Users
	label-Code-Review = -1..+1 group Registered Users
	label-Code-Review = -1..+1 group Registered Users
	label-Code-Review = -1..+1 group Registered Users
	label-Verified = -1..+1 group Automated Users
	label-Verified = -1..+1 group Registered Users
	create = group Administrators
	create = group Administrators
	create = group Administrators
	create = group Project Owners
	create = group Project Owners
	create = group Project Owners
	forgeAuthor = group Registered Users
	forgeAuthor = group Registered Users
	forgeAuthor = group Registered Users
	forgeCommitter = group Administrators
	forgeCommitter = group Administrators
	forgeCommitter = group Administrators
	forgeCommitter = group Project Owners
	forgeCommitter = group Project Owners
	forgeCommitter = group Project Owners
	push = group Administrators
	push = group Administrators
	push = group Administrators
	push = group Project Owners
	push = group Project Owners
	push = group Project Owners
	submit = group Administrators
	submit = group Administrators
	submit = group Administrators
	submit = group Project Owners
	submit = group Project Owners
	submit = group Project Owners
	editTopicName = +force group Administrators
	editTopicName = +force group Administrators
	editTopicName = +force group Administrators
	editTopicName = +force group Project Owners
	editTopicName = +force group Project Owners
	editTopicName = +force group Project Owners
[access "refs/meta/config"]
	exclusiveGroupPermissions = read
	read = group Administrators
	read = group Administrators
	read = group Administrators
	read = group Project Owners
	read = group Project Owners
	read = group Project Owners
	read = group Project Owners
	push = group Administrators
	push = group Administrators
	push = group Administrators
	push = group Project Owners
	push = group Project Owners
	push = group Project Owners
	label-Code-Review = -2..+2 group Administrators
	label-Code-Review = -2..+2 group Administrators
	label-Code-Review = -2..+2 group Administrators
	label-Code-Review = -2..+2 group Project Owners
	label-Code-Review = -2..+2 group Project Owners
	label-Code-Review = -2..+2 group Project Owners
	submit = group Administrators
	submit = group Administrators
	submit = group Administrators
	submit = group Project Owners
	submit = group Project Owners
	submit = group Project Owners
[label "Verified"]
	function = MaxWithBlock
	value = -1 Fails
	value =  0 No score
	value = +1 Verified
[label "Code-Review"]
	function = MaxWithBlock
	copyMinScore = true
	value = -2 Do not submit
	value = -1 I would prefer that you didn't submit this
	value =  0 No score
	value = +1 Looks good to me, but someone else must approve
	value = +2 Looks good to me, approved
[receive]
	requireContributorAgreement = false
	requireSignedOffBy = false
	requireChangeId = true
[submit]
	mergeContent = true
[access "refs/tags/*"]
	pushTag = group Administrators
	pushTag = group Administrators
	pushTag = group Administrators
	pushTag = group Project Owners
	pushTag = group Project Owners
	pushTag = group Project Owners
	pushSignedTag = group Administrators
	pushSignedTag = group Administrators
	pushSignedTag = group Administrators
	pushSignedTag = group Project Owners
	pushSignedTag = group Project Owners
	pushSignedTag = group Project Owners
